/*
Name :The ribbon By :Indam > http://www.indaam.com
Licence :copyleft, public domain
*/.neo-wrap{
	position:relative;
	width:10%;
	margin:2% 0 3% 5%;
	height:160px;
	float:left;
	padding:40px 45px 0 40px;
	background:#fff;
	border-radius:7px 0 0 0;
	-moz-border-radius:7px 0 0 0;
	-webkit-border-radius:7px 0 0 0;
	-ms-border-radius:7px 0 0 0
	}

.neo-wrap .theribbon{
	/* wrap ribbon */margin:-46px 0 0 -46px;
	float:left;
	width:110px;
	height:110px;
	overflow:hidden;
	display:block;
	position:relative
	}

.neo-wrap .theribbon::before{
	/* ribbon */display:block;
	text-indent:0;
	color:#fff;
	font:bold 12px arial, helvetica, sans-serif;
	margin:27px 0 0 -29px;
	padding:6px 0 6px 0;
	float:left;
	text-align:center;
	letter-spacing:2px;
	text-transform:uppercase;
	width:140px;
	text-shadow:none;
	-moz-text-shadow:none;
	-webkit-text-shadow:none;
	-ms-text-shadow:none;
	/* rotate */transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	/* end rotate */
	}

.neo-wrap .theribbon .ribbonshadow{
	/* ribbon shadow */margin:-5px 0 0 -17px;
	width:140px;
	height:8px;
	float:left;
	clear:both;
	content:'';
	display:block;
	position:relative;
	z-index:-1;
	/* rotate */transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	/* end rotate *//* border radius */border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	-ms-border-radius:0 0 5px 5px;
	/* end border radius */
	}

.neo-wrap pre{
	color:#878;
	width:250%;
	margin-left:-60px;
	padding:17px 4px 4px 0;
	clear:both;
	height:76px;
	display:none;
	font-size:10px;
	position:relative;
	z-index:2;
	overflow:auto;
	overflow-x:hidden
	}

.neo-wrap pre:::before{
	content:'the code';
	background:rgba(255, 255, 255, 0.8);
	padding:5px 4px;
	font-size:18px;
	font-weight:bold;
	left:-34px;
	top:15px;
	position:relative;
	float:left;
	transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);
	-ms-transform:rotate(-90deg)
	}

.neo-wrap:hover pre{
	display:block
	}

.neo-wrap:nth-of-type(3n+1){
	/* set color */border:1px solid #4085CF
	}

.neo-wrap:nth-of-type(3n+1) .theribbon::before{
	/* ribbon set color*//* box shadow */box-shadow:0 1px 2px #3c1d4c;
	-moz-box-shadow:0 1px 2px #3c1d4c;
	-webkit-box-shadow:0 1px 2px #3c1d4c;
	-ms-box-shadow:0 1px 2px #3c1d4c;
	/* end box shadow *//* background and gradient */background:#df81c7;
	background:linear-gradient(left,#af4994 0%,#df81c7 50%,#af4994 100%);
	background:-moz-linear-gradient(left,#af4994 0%,#df81c7 50%,#af4994 100%);
	background:-webkit-linear-gradient(left,#af4994 0%,#df81c7 50%,#af4994 100%);
	background:-webkit-gradient(/* old webkit */linear,left bottom,right bottom,color-stop(0%, #af4994),color-stop(50%, #df81c7),color-stop(100%, #af4994));
	background:-o-linear-gradient(left,#af4994 0%,#df81c7 50%,#af4994 100%);
	background:-ms-linear-gradient(left,#af4994 0%,#df81c7 50%,#af4994 100%);
	/* end background and gradient */
	}

.neo-wrap:nth-of-type(3n+1) .theribbon .ribbonshadow{
	/* ribbon shadow set color */background:#3c1d4c
	}

.neo-wrap:nth-of-type(3n+1) pre{
	border-left:2px solid rgba(64, 133, 207, 0.6);
	/* #4085CF and opacity 0.6 */background:rgba(64, 133, 207, 0.1);
	/* #4085CF and opacity 0.6 */
	}

.neo-wrap:nth-of-type(3n+1) pre:::before{
	color:#4085CF
	}

.neo-wrap:nth-of-type(3n+2){
	/* set color */border:1px solid #2FCF26
	}

.neo-wrap:nth-of-type(3n+2) .theribbon::before{
	/* ribbon set color*//* box shadow */box-shadow:0 1px 2px #31296F;
	-moz-box-shadow:0 1px 2px #31296F;
	-webkit-box-shadow:0 1px 2px #31296F;
	-ms-box-shadow:0 1px 2px #31296F;
	/* end box shadow *//* background and gradient */background:#8F98FF;
	background:linear-gradient(left, #1928CF 0%, #8F98FF 50%, #1928CF 100%);
	background:-moz-linear-gradient(left, #1928CF 0%,#8F98FF 50%,#1928CF 100%);
	background:-webkit-linear-gradient(left,#1928CF 0%,#8F98FF 50%,#1928CF 100%);
	background:-webkit-gradient(/* old webkit */linear,left bottom,right bottom,color-stop(0%, #1928CF),color-stop(50%, #8F98FF),color-stop(100%, #1928CF));
	background:-o-linear-gradient(left,#1928CF 0%,#8F98FF 50%,#1928CF 100%);
	background:-ms-linear-gradient(left,#1928CF 0%,#8F98FF 50%,#1928CF 100%);
	/* end background and gradient */
	}

.neo-wrap:nth-of-type(3n+2) .theribbon .ribbonshadow{
	/* ribbon shadow set color */background:#000A7F
	}

.neo-wrap:nth-of-type(3n+2) pre{
	border-left:2px solid rgba(47, 207, 38, 0.6);
	/* #2FCF26 and opacity 0.6 */background:rgba(47, 207, 38, 0.1);
	/* #2FCF26 and opacity 0.6 */
	}

.neo-wrap:nth-of-type(3n+2) pre:::before{
	color:#2FCF26
	}

/* green */.neo-wrap:nth-of-type(3n+3){
	/* set color */border:1px solid #CF40CC
	}

.neo-wrap:nth-of-type(3n+3) .theribbon::before{
	/* ribbon set color*//* box shadow */box-shadow:0 1px 2px #1D4F24;
	-moz-box-shadow:0 1px 2px #1D4F24;
	-webkit-box-shadow:0 1px 2px #1D4F24;
	-ms-box-shadow:0 1px 2px #1D4F24;
	/* end box shadow *//* background and gradient */background:#6FDF74;
	background:linear-gradient(left,#3BBF41 0%,#6FDF74 50%,#3BBF41 100%);
	background:-moz-linear-gradient(left,#3BBF41 0%,#6FDF74 50%,#3BBF41 100%);
	background:-webkit-linear-gradient(left,#3BBF41 0%,#6FDF74 50%,#3BBF41 100%);
	background:-webkit-gradient(/* old webkit */linear,left bottom,right bottom,color-stop(0%, #3BBF41),color-stop(50%, #6FDF74),color-stop(100%, #3BBF41));
	background:-o-linear-gradient(left,#3BBF41 0%,#6FDF74 50%,#3BBF41 100%);
	background:-ms-linear-gradient(left,#3BBF41 0%,#6FDF74 50%,#3BBF41 100%);
	/* end background and gradient */
	}

.neo-wrap:nth-of-type(3n+3) .theribbon .ribbonshadow{
	/* ribbon shadow set color */background:#1D4F24
	}

.neo-wrap:nth-of-type(3n+3) pre{
	border-left:2px solid rgba(207, 64, 204, 0.6);
	/* #CF40CC and opacity 0.6 */background:rgba(207, 64, 204, 0.1);
	/* #CF40CC and opacity 0.6 */
	}

.neo-wrap:nth-of-type(3n+3) pre:::before{
	color:#CF40CC
	}

/* End green */