/* copyleft indaam.com */
.tr1::before{
	content:"example 1"
	}

.tr2::before{
	content:"example 2"
	}

.tr3::before{
	content:"example 3"
	}

.tr4::before{
	content:"example 4"
	}

.tr5::before{
	content:"example 5"
	}

.tr6::before{
	content:"example 6"
	}

.tr7::before{
	content:"example 7"
	}

.tr8::before{
	content:"example 8"
	}

.tr9::before{
	content:"example 9"
	}

.tr10::before{
	content:"example 10"
	}

.tr11::before{
	content:"example 11"
	}

.tr12::before{
	content:"example 12"
	}

.tr13::before{
	content:"example 13"
	}

.tr14::before{
	content:"example 14"
	}

.tr15::before{
	content:"example 15"
	}

.tr16::before{
	content:"example 16"
	}

.tr17::before{
	content:"example 17"
	}

.tr18::before{
	content:"example 18"
	}

.tr19::before{
	content:"example 19"
	}

.tr20::before{
	content:"example 20"
	}

.tr21::before{
	content:"example 21"
	}

.tr22::before{
	content:"example 22"
	}

.tr23::before{
	content:"example 23"
	}

.tr24::before{
	content:"example 24"
	}

.tr25::before{
	content:"example 25"
	}

.tr26::before{
	content:"example 26"
	}

.tr27::before{
	content:"example 27"
	}

.tr28::before{
	content:"example 28"
	}

.tr29::before{
	content:"example 29"
	}

.tr30::before{
	content:"example 30"
	}

.tr31::before{
	content:"example 31"
	}

.tr32::before{
	content:"example 32"
	}

.tr33::before{
	content:"example 33"
	}

.tr34::before{
	content:"example 34"
	}

.tr35::before{
	content:"example 35"
	}

.tr36::before{
	content:"example 36"
	}

.tr37::before{
	content:"example 37"
	}

.tr38::before{
	content:"example 38"
	}

.tr39::before{
	content:"example 39"
	}

.tr40::before{
	content:"example 40"
	}

.tr41::before{
	content:"example 41"
	}

.tr42::before{
	content:"example 42"
	}

.tr43::before{
	content:"example 43"
	}

.tr44::before{
	content:"example 44"
	}

.tr45::before{
	content:"example 45"
	}

.tr46::before{
	content:"example 46"
	}

.tr47::before{
	content:"example 47"
	}

.tr48::before{
	content:"example 48"
	}

.tr49::before{
	content:"example 49"
	}

.tr50::before{
	content:"example 50"
	}

.tr51::before{
	content:"example 51"
	}

.tr52::before{
	content:"example 52"
	}

.tr53::before{
	content:"example 53"
	}

.tr54::before{
	content:"example 54"
	}

.tr55::before{
	content:"example 55"
	}

.tr56::before{
	content:"example 56"
	}

.tr57::before{
	content:"example 57"
	}

.tr58::before{
	content:"example 58"
	}

.tr59::before{
	content:"example 59"
	}

.tr60::before{
	content:"example 60"
	}

.tr61::before{
	content:"example 61"
	}

.tr62::before{
	content:"example 62"
	}

.tr63::before{
	content:"example 63"
	}

.tr64::before{
	content:"example 64"
	}

.tr65::before{
	content:"example 65"
	}

.tr66::before{
	content:"example 66"
	}

.tr67::before{
	content:"example 67"
	}

.tr68::before{
	content:"example 68"
	}

.tr69::before{
	content:"example 69"
	}

.tr70::before{
	content:"example 70"
	}

.tr71::before{
	content:"example 71"
	}

.tr72::before{
	content:"example 72"
	}

.tr73::before{
	content:"example 73"
	}

.tr74::before{
	content:"example 74"
	}

.tr75::before{
	content:"example 75"
	}

.tr76::before{
	content:"example 76"
	}

.tr77::before{
	content:"example 77"
	}

.tr78::before{
	content:"example 78"
	}

.tr79::before{
	content:"example 79"
	}

.tr80::before{
	content:"example 80"
	}

.tr81::before{
	content:"example 81"
	}

.tr82::before{
	content:"example 82"
	}

.tr83::before{
	content:"example 83"
	}

.tr84::before{
	content:"example 84"
	}

.tr85::before{
	content:"example 85"
	}

.tr86::before{
	content:"example 86"
	}

.tr87::before{
	content:"example 87"
	}

.tr88::before{
	content:"example 88"
	}

.tr89::before{
	content:"example 89"
	}

.tr90::before{
	content:"example 90"
	}

.tr91::before{
	content:"example 91"
	}

.tr92::before{
	content:"example 92"
	}

.tr93::before{
	content:"example 93"
	}

.tr94::before{
	content:"example 94"
	}

.tr95::before{
	content:"example 95"
	}

.tr96::before{
	content:"example 96"
	}

.tr97::before{
	content:"example 97"
	}

.tr98::before{
	content:"example 98"
	}

.tr99::before{
	content:"example 99"
	}

.tr100::before{
	content:"example 100"
	}

.tr101::before{
	content:"example 101"
	}

.tr102::before{
	content:"example 102"
	}

.tr103::before{
	content:"example 103"
	}

.tr104::before{
	content:"example 104"
	}

.tr105::before{
	content:"example 105"
	}

.tr106::before{
	content:"example 106"
	}

.tr107::before{
	content:"example 107"
	}

.tr108::before{
	content:"example 108"
	}

.tr109::before{
	content:"example 109"
	}

.tr110::before{
	content:"example 110"
	}

.tr111::before{
	content:"example 111"
	}

.tr112::before{
	content:"example 112"
	}

.tr113::before{
	content:"example 113"
	}

.tr114::before{
	content:"example 114"
	}

.tr115::before{
	content:"example 115"
	}

.tr116::before{
	content:"example 116"
	}

.tr117::before{
	content:"example 117"
	}

.tr118::before{
	content:"example 118"
	}

.tr119::before{
	content:"example 119"
	}

.tr120::before{
	content:"example 120"
	}

.tr121::before{
	content:"example 121"
	}

.tr122::before{
	content:"example 122"
	}

.tr123::before{
	content:"example 123"
	}

.tr124::before{
	content:"example 124"
	}

.tr125::before{
	content:"example 125"
	}

.tr126::before{
	content:"example 126"
	}

.tr127::before{
	content:"example 127"
	}

.tr128::before{
	content:"example 128"
	}

.tr129::before{
	content:"example 129"
	}

.tr130::before{
	content:"example 130"
	}

.tr131::before{
	content:"example 131"
	}

.tr132::before{
	content:"example 132"
	}

.tr133::before{
	content:"example 133"
	}

.tr134::before{
	content:"example 134"
	}

.tr135::before{
	content:"example 135"
	}

.tr136::before{
	content:"example 136"
	}

.tr137::before{
	content:"example 137"
	}

.tr138::before{
	content:"example 138"
	}

.tr139::before{
	content:"example 139"
	}

.tr140::before{
	content:"example 140"
	}

.tr141::before{
	content:"example 141"
	}

.tr142::before{
	content:"example 142"
	}

.tr143::before{
	content:"example 143"
	}

.tr144::before{
	content:"example 144"
	}

.tr145::before{
	content:"example 145"
	}

.tr146::before{
	content:"example 146"
	}

.tr147::before{
	content:"example 147"
	}

.tr148::before{
	content:"example 148"
	}

.tr149::before{
	content:"example 149"
	}

.tr150::before{
	content:"example 150"
	}

.tr151::before{
	content:"example 151"
	}

.tr152::before{
	content:"example 152"
	}

.tr153::before{
	content:"example 153"
	}

.tr154::before{
	content:"example 154"
	}

.tr155::before{
	content:"example 155"
	}

.tr156::before{
	content:"example 156"
	}

.tr157::before{
	content:"example 157"
	}

.tr158::before{
	content:"example 158"
	}

.tr159::before{
	content:"example 159"
	}

.tr160::before{
	content:"example 160"
	}

.tr161::before{
	content:"example 161"
	}

.tr162::before{
	content:"example 162"
	}

.tr163::before{
	content:"example 163"
	}

.tr164::before{
	content:"example 164"
	}

.tr165::before{
	content:"example 165"
	}

.tr166::before{
	content:"example 166"
	}

.tr167::before{
	content:"example 167"
	}

.tr168::before{
	content:"example 168"
	}

.tr169::before{
	content:"example 169"
	}

.tr170::before{
	content:"example 170"
	}

.tr171::before{
	content:"example 171"
	}

.tr172::before{
	content:"example 172"
	}

.tr173::before{
	content:"example 173"
	}

.tr174::before{
	content:"example 174"
	}

.tr175::before{
	content:"example 175"
	}

.tr176::before{
	content:"example 176"
	}

.tr177::before{
	content:"example 177"
	}

.tr178::before{
	content:"example 178"
	}

.tr179::before{
	content:"example 179"
	}

.tr180::before{
	content:"example 180"
	}

.tr181::before{
	content:"example 181"
	}

.tr182::before{
	content:"example 182"
	}

.tr183::before{
	content:"example 183"
	}

.tr184::before{
	content:"example 184"
	}

.tr185::before{
	content:"example 185"
	}

.tr186::before{
	content:"example 186"
	}

.tr187::before{
	content:"example 187"
	}

.tr188::before{
	content:"example 188"
	}

.tr189::before{
	content:"example 189"
	}

.tr190::before{
	content:"example 190"
	}

.tr191::before{
	content:"example 191"
	}

.tr192::before{
	content:"example 192"
	}

.tr193::before{
	content:"example 193"
	}

.tr194::before{
	content:"example 194"
	}

.tr195::before{
	content:"example 195"
	}

.tr196::before{
	content:"example 196"
	}

.tr197::before{
	content:"example 197"
	}

.tr198::before{
	content:"example 198"
	}

.tr199::before{
	content:"example 199"
	}

.tr200::before{
	content:"example 200"
	}

.tr201::before{
	content:"example 201"
	}

.tr202::before{
	content:"example 202"
	}

.tr203::before{
	content:"example 203"
	}

.tr204::before{
	content:"example 204"
	}

.tr205::before{
	content:"example 205"
	}

.tr206::before{
	content:"example 206"
	}

.tr207::before{
	content:"example 207"
	}

.tr208::before{
	content:"example 208"
	}

.tr209::before{
	content:"example 209"
	}

.tr210::before{
	content:"example 210"
	}

.tr211::before{
	content:"example 211"
	}

.tr212::before{
	content:"example 212"
	}

.tr213::before{
	content:"example 213"
	}

.tr214::before{
	content:"example 214"
	}

.tr215::before{
	content:"example 215"
	}

.tr216::before{
	content:"example 216"
	}

.tr217::before{
	content:"example 217"
	}

.tr218::before{
	content:"example 218"
	}

.tr219::before{
	content:"example 219"
	}

.tr220::before{
	content:"example 220"
	}

.tr221::before{
	content:"example 221"
	}

.tr222::before{
	content:"example 222"
	}

.tr223::before{
	content:"example 223"
	}

.tr224::before{
	content:"example 224"
	}

.tr225::before{
	content:"example 225"
	}

.tr226::before{
	content:"example 226"
	}

 